.tree-nodes {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}

.node-wrapper {
    width: 50%;
    margin: auto;
}

.node-item {
    text-align: center;
    margin: 2px;
    width: 100%;
}

.node-content {
    border: 3px solid black;
    margin: auto;
    min-width: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 11px;
}

.node-content.new-node {
    background: lightgreen;
}

.node-content.new-node.active {
    background: greenyellow;
}

.node-content.new-node.drop-hover {
    background: darkgreen;
}

.node-content.head {
    background-color: indianred;
}

.node-content.left {
    background-color: lightblue;
}

.node-content.right {
    background-color: mistyrose;
}

.examples {
    display: flex;
}

.example {
    display: flex;
}

.example .node-content {
    float: left;
    margin: 0 10px;
}

.example .tip {
    margin-top: 15px;
}
